
#final_score{
    background: #000000aa;
    width: 1000px;
    height: 400px;
    font-size: 50px;
    color: #fff;
    border: 1px solid #5f5e5ef0;
    border-radius: 10px;
    color: rgba(254, 254, 254, 0.928);
    text-align: center;
    padding-top: 80px;
    text-shadow: 2px 2px 2px #000000;
    font-weight: 600;
    z-index: 30;
}

