/* Home.css */

.myDiv {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  #streetViewContainer {
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: 0;
    }
  
    #mapContainer {
      position: absolute;
      height: 300px;
      width: 300px;
      z-index: 1;
      right: 0px;
      bottom: 70px;
      margin: 40px;
      transition: all 0.2s ease-in-out;
      opacity: 0.5;
      cursor: crosshair;
    }

    #guessButton{
      position: absolute;
      background-color: #4ce4df8f;
      border-radius: 30px;
      height: 50px;
      width: 300px; 
      right: 40px;
      bottom: 40px; 
      z-index: 2;  
      transition: all 0.2s ease-in-out;
    }

    #guessButton:hover{
      background-color: #4ce4df;
      cursor: pointer;
      scale: 1.1;
    }

    #mapContainer:hover {
        height: 400px;
        width: 500px;
        margin: 50px;
        cursor: crosshair;
        opacity: 1;
    }

    #guessButton{
      position: absolute;
      background-color: #4ce4df8f;
      border-radius: 30px;
      height: 50px;
      width: 300px; 
      right: 40px;
      bottom: 40px; 
      z-index: 2;  
    }
        

    #score {
      position: absolute;
      font-size: xx-large;
      font-weight: 700;
      background: #53525270;
      color: rgb(128, 255, 0);
      text-align: center;
      height: 50px;
      min-width: 200px; 
      left: 40px;
      top: 40px; 
      z-index: 10;      
    }


    .gm-style-cc {
      opacity: 0.4;
    }


    #rounds_div{
      position: absolute;
      z-index: 10;    
    }